{% extends "base.html" %}
{% block title %} Search {% endblock title %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

<div class="jumbotron p-5">
    <h1 class="display-10">Search</h1>
    <hr class="my-1">
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="input-group">
            {{ form.stock_search }}
            <button type="submit" class="btn btn-outline-primary" method="post" data-mdb-ripple-init>search</button>
        </div>
    </form>
</div>

{% if stock_search %}
<div class="row">
    <div class="col">
        <h1 class="display-10"> {{ company_name }}: {{ current_stock_price }}</h1>
    </div>
    <br>

    <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">
            Buy
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter">
            Sell
        </button>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Buy or Sell</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div for="quantity">
                            <h1>{{current_stock_price}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity" placeholder="Quantity">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" placeholder="Price">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary">Buy</button>
                            <button type="button" class="btn btn-danger">Sell</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div id="chart">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

    <p>{{ historical_data | safe }}</p>
    <script>
        let price_data = JSON.parse("{{ historical_data | safe }}");


        let xyValues = [
            { x: 50, y: 7 },
            { x: 60, y: 8 },
            { x: 70, y: 8 },
            { x: 80, y: 9 },
            { x: 90, y: 9 },
            { x: 100, y: 9 },
            { x: 110, y: 10 },
            { x: 120, y: 11 },
            { x: 130, y: 14 },
            { x: 140, y: 14 },
            { x: 150, y: 15 }
        ];

        new Chart("myChart", {
            type: "scatter",
            data: {
                datasets: [{
                    pointRadius: 4,
                    pointBackgroundColor: "rgb(0,0,255)",
                    data: price_data
                }]
            },
            options: {
                legend: { display: false },
                // Optionally, you can set scales for better visualization
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DD',
                            tooltipFormat: 'll', // Display format for tooltips
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Price'
                        }
                    }]
                }
            }
        });
    </script>

    <div id="chart-buttons">
        <button>1D</button>
        <button>1M</button>
        <button>3M</button>
        <button>1Y</button>
        <button>5Y</button>
        <button>All</button>
    </div>

    <div>
        <h1 class="display-10">Company Description</h1>
        <div>
            {{ description }}
        </div>
    </div>

    {% endif %}

    {% endblock content %}