{% extends "base.html" %}
{% block title %} Home Page {% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-10">Search</h1>
        <hr class="my-4">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
            <div class="input-group">
                {{ form.stock_search }}
                <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
            </div>
        </form>

    </div>

    <p>{{ stock_search }}</p>

{% endblock content %}